.centered
  %h1 Who is that?
  Meet my friend chenry.
  %br
  Chenry knows what he likes and doesn't like
  %br
  Chenry is a nice guy. So nice that he let me make this site in 
  order to help people remember the things he doesn't like! Chenry 
  used to have a beard... but he shaved. (I fixed it with MS paint).
  %br
