!!! xml
!!!
%html
  %head
    %title= get_title( @phrase )
    =stylesheet_link_tag 'idontlikeyour'
  %body
    =render :partial => 'layouts/face_and_word_bubble'
    =yield
    %br
    .footer= footer_links
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-526253-7");
      pageTracker._trackPageview();
      } catch(err) {}
